parameters:
  ontology.skos:
    name: Skos
    prefix: skos
    namespace: 'http://www.w3.org/2004/02/skos/core#'
    properties:

      Concept:
        dataType: resource
      ConceptScheme:
        dataType: resource
      inScheme:
        dataType: resource
      hasTopConcept:
        dataType: literal
      topConceptOf:
        dataType: resource


      # Labels
      altLabel:
        dataType: literal
      hiddenLabel:
        dataType: literal
      prefLabel:
        dataType: literal


      # Notations
      notation:
        dataType: literal


      # Documentation properties
      changeNote:
        dataType: literal
      definition:
        dataType: literal
      editorialNote:
        dataType: literal
      example:
        dataType: literal
      historyNote:
        dataType: literal
      note:
        dataType: literal
      scopeNote:
        dataType: literal


      # Semantic relations
      broader:
        dataType: resource
      broaderTransitive:
        dataType: resource
      narrower:
        dataType: resource
      narrowerTransitive:
        dataType: resource
      related:
        dataType: resource
      semanticRelation:
        dataType: resource

      # Concept collections
      Collection:
        dataType: resource
      OrderedCollection:
        dataType: resource
      member:
        dataType: resource
      memberList:
        dataType: resource

      # Mapping properties
      broadMatch:
        dataType: resource
      broaderMatch:
        dataType: resource
      closeMatch:
        dataType: resource
      exactMatch:
        dataType: resource
      mappingRelation:
        dataType: resource
      narrowMatch:
        dataType: resource
      narrowerMatch:
        dataType: resource
      relatedMatch:
        dataType: resource
